<%= form_with model: post, url: posts_path, local: true do |form| %>
  <%= form.text_field :title, placeholder: "論点" %>
  <%= form.file_field :image, placeholder: "画像" %>
  <%= form.text_field :url, placeholder: "参考URL" %>
  <%= form.text_area :text, placeholder: "メモ", rows: "10" %>
    <div class="tag-field", id='tag-field'>
      <%= form.text_field :name, placeholder: "タグ", class:"input-tag" %>
    </div>
    <div id="search-result">
    </div>
  <%= form.submit "SEND" %>
<% end %>