<div class="contents row">
  <div class="container">
    <h3>新規投稿ページ</h3>
    <%= form_with(model: @post, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "論点" %>
      <%= form.text_field :image, placeholder: "画像URL" %>
      <%= form.text_area :text, placeholder: "説明", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>