<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @post.url %>);">
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_post_path(@post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', post_path(@post.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>

    <p><%= @post.title %></p>
    <span class="name">
    <a href="">
      <span>投稿者</span><%= @post.user.name %>
    </a>
    </span>
    <span class="date">
    <a>
      <span>投稿日時：</span><%= @post.created_at %>
    </a>
    </span>
  <ul class="tag">
    <li class="tag-list">
      <% @post.tags.each do |tag| %>
        #<%=tag.name%>
      <%end%>
    </li>
  </ul>
  <div class="text">
    <p><%= @post.text %></p>
  </div>
  </div>
  <div>
    <%= render partial: 'likes', locals: { post: @post } %>
  </div>
  <%= image_tag @post.image.variant(resize: '660x400'), class: 'message-image' if @post.image.attached? %>

  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true, id: "form") do |form| %>
        <%= form.text_area :content, placeholder: "コメントする", rows: "2", id: "comment" %>
        <div id="char_num">
        0文字
        </div>
        <%= form.submit "SEND" , id: "submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div id="list">
    </div>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <div class="comment" data-id=<%= comment.id %> data-check=<%= comment.checked %>>
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
            <div class="post-date">
              投稿日時：<%= comment.created_at %>
            </div>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>